body {
  background-image: linear-gradient(rgb(18, 15, 38), rgb(241, 149, 149));
  font-family: "Press Start 2P", monospace;
  height: 100vh;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(18, 15, 38);
  padding: 10px;
  margin: 0;
  width: 100%;
  color: white;
}

button {
  border-radius: 10px;
  background-color: white;
  color: rgb(18, 15, 38);
}

button:hover {
  background-color: rgb(55, 45, 121);
  color: white;
}

.main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* height: 100%; */
}

td {
  height: 150px;
  width: 150px;
  font-size: 60px;
  text-align: center;
}

.square {
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

.hidden-board,
.reset-button,
.game-info {
  display: none;
}

.show {
  display: block;
  border-collapse: collapse;
}

.hide {
  display: none;
}

.game-info {
  color: white;
}

.show-game-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  text-align: center;
}

.game-over-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.x-wins-title,
.o-wins-title,
.current-player-title {
  text-decoration: underline;
}
