body {
  /* background-color: aqua; */
  height: 100vh;
}

.header {
    text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* height: 100%; */
}

td {
  height: 150px;
  width: 150px;
  font-size: 60px;
  text-align: center;
}

.square {
  border: 1px solid black;
}

.hidden-board, .reset-button, .game-info {
  display: none;
}

.show {
  display: block;
}

.hide {
    display: none
}

.show-game-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
}

.x-wins-title, .o-wins-title, .current-player-title {
    text-decoration: underline;
}